@using Project_BookStoreCT.Models.ViewModels;
@{
    ViewBag.Title = "ViewCart";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}
<script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
<div class="entry-header-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="entry-header-title">

                </div>
            </div>
        </div>
    </div>
</div>
<!-- entry-header-area-end -->
<!-- cart-main-area-start -->
<div class="cart-main-area mb-70">
    <form method="post" action="~/Home/UpdateCart">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="table-content table-responsive">
                        <table id="myTable">
                            <thead>
                                <tr>
                                    <th class="product-thumbnail">ID</th>
                                    <th class="product-thumbnail">Hình ảnh</th>
                                    <th class="product-name">TÊN SẢN PHẨM</th>
                                    <th class="product-price">Đơn giá</th>
                                    <th class="product-quantity">Số lượng</th>
                                    <th class="product-subtotal">Tổng tiền</th>
                                    <th class="product-remove">Xóa khỏi giỏ</th>
                                </tr>
                            </thead>
                            <tbody>
                                @if (Session["Cart"] != null)
                                {
                                    foreach (Cart_ViewModels cart in (List<Cart_ViewModels>)Session["Cart"])
                                    {
                                        <tr id="row_@cart.book_id">
                                            <td class="product-thumbnail">@cart.book_id</td>
                                            <td class="product-thumbnail"><a href="#"><img src="~/imgs/@cart.image" alt="man" /></a></td>
                                            <td class="product-name"><a href="#">@cart.bookname</a></td>
                                            <td class="product-price"><span class="amount">@cart.price$</span></td>
                                            <td class="product-quantity"><input id="quantity" name="quantity" type="number" value="@cart.number"></td>
                                            <td class="product-subtotal">@cart.total$</td>
                                            <td class="product-remove"><button class="btn btn-danger" onclick="RemoveItemCart(@cart.book_id,this)"><i class="fa fa-times"></i></button></td>
                                        </tr>
                                    }
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8 col-md-8 col-sm-6 col-xs-12">
                    <div class="buttons-cart mb-30">
                        <ul>
                            <li><input type="submit" value="Cập nhập giỏ hàng" /> </li>
                            <li><a href="~/Home/Index">Tiếp tục mua hàng</a></li>
                        </ul>
                    </div>
                    @*<div class="coupon">
                            <h3>Coupon</h3>
                            <p>Enter your coupon code if you have one.</p>
                            <form action="#">
                                <input type="text" placeholder="Coupon code">
                                <a href="#">Apply Coupon</a>
                            </form>
                        </div>*@
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                    <div class="cart_totals">
                        <h2>Tổng giỏ hàng</h2>
                        <table>
                            <tbody>
                                @*<tr class="cart-subtotal">
                                        <th>Subtotal</th>
                                        <td>
                                            <span class="amount">£215.00</span>
                                        </td>
                                    </tr>*@
                                @*<tr class="shipping">
                                        <th>Shipping</th>
                                        <td>
                                            <ul id="shipping_method">
                                                <li>
                                                    <input type="radio">
                                                    <label>
                                                        Flat Rate:
                                                        <span class="amount">£7.00</span>
                                                    </label>
                                                </li>
                                                <li>
                                                    <input type="radio">
                                                    <label> Free Shipping </label>
                                                </li>
                                            </ul>
                                            <a href="#">Calculate Shipping</a>
                                        </td>
                                    </tr>*@
                                <tr class="order-total">
                                    <th>Thành tiền</th>
                                    <td>
                                        <strong>
                                            @if (Session["ThanhTien"] != null)
                                            {
                                                <span class="amount">@Session["ThanhTien"]$</span>
                                            }
                                            else
                                            {
                                                <span class="amount">0$</span>
                                            }
                                        </strong>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <table>
                            <tr>
                                <td></td>
                                <td>
                                    <div style="margin-right:35px" class="wc-proceed-to-checkout">
                                        <a href="~/Home/Bill">Tiến hành đặt hàng</a>
                                    </div>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
<!-- cart-main-area-end -->
<script>
    function RemoveItemCart(bid, e) {
        var check = confirm("Xác nhận xóa sách này khỏi giỏ hàng");
        if (check == true) {
            $('#row_' + bid).remove();
            $.ajax({
                url: '/Home/RemoveItemCart',
                type: 'POST',
                cache: true,
                data:
                    { 'bid': bid }
            }).done(function (data) {
                $("#cart").html(data);
            })
        }
    }
</script>
